<% provide(:title, "Home") %>
<%= link_to 'About', about_path %>
<h1>Home</h1>
<p>
  This is the home page for the
  <a href="https://github.com/martom87/alpha_blog">Alpha Blog.</a>
  sample application.
</p>

<%= link_to "Alpha Blog", articles_path %>